{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container">
  <h1 align="center" class="mb-5">CatchPhish</h1>
  <div class="part">
    <div class="about">
      <h3>About</h3>
      <p>
        CatchPhish is a dedicated platform committed to protecting individuals
        and organizations from the pervasive threat of phishing attacks.
        Phishing attacks, a form of cybercrime, attempt to deceive users into
        disclosing sensitive information such as passwords, financial details,
        and personal data by masquerading as trustworthy entities.
      </p>
    </div>
    <div class="home-img">
      <img src="./static/home-img.png" alt="" width="450px" />
    </div>
  </div>
  <div class="remedy mt-5">
    <h3>Remedies and Recommendations</h3>
    <p>
      If you've fallen victim to a phishing website, act fast! Change your
      passwords, enable two-factor authentication, and notify the relevant
      institution. Monitor your account activity, run a virus scan, and update
      your software and browsers. Be cautious of follow-up attacks and consider
      using a password manager. Finally, keep an eye on your credit reports. By
      taking these steps, you can minimize damage and secure your online
      presence.
    </p>
  </div>
</div>
<footer class="footer">
  <p>&copy; 2024 CatchPhish. All rights reserved.</p>
</footer>

{% endblock %}
