@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
p {
  font-size: 1.2rem;
  text-align: center;
}
.form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_input {
  width: 270px;
  height: 55px;
  border-radius: 0;
}
#scan {
  display: inline-block;
  margin-left: -30px;
  border-radius: 0;
  background-color: #00dfc2;
  color: white;
}

#scan:hover {
  background-color: #b0cdc9;
  transition: 0.5s ease-in-out;
}
.container {
  width: 100vh;
}
.part {
  margin: auto;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
h3 {
  text-align: center;
  margin-bottom: 16px;
}
.about {
  /* background-color: #aefff4; */
  padding: 5px;
  border-radius: 12px;
}
.about p,
.remedy p {
  text-align: start;
  font-size: 1.1rem;
}
.remedy {
  width: 800px;
  margin: auto;
}
.remedy h3 {
  padding: 16px;
  border-radius: 12px;
  background-color: #00dfc2;
  color: white;
}
#logins,
#signup,
#report {
  background-color: #00dfc2;
  color: white;
  margin: auto;
  display: block;
}

#logins:hover,
#signup:hover,
#report:hover {
  background-color: #b0cdc9;
  transition: 0.5s ease-in-out;
}
.footer {
  width: 800px;
  padding: 10px;
  background-color: #00dfc2;
  color: white;
  margin: auto;
}
.cont {
  width: 800px;
  margin: auto;
}
